In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame({'A':[1,2],'B':[10,20]})
df

   A   B
0  1  10
1  2  20

In [2]:
data= df.apply(np.sum,axis=0)
print(data)

A     3
B    30
dtype: int64

In [3]:
data=df.apply(np.sum,axis=1)
print(data)

0    11
1    22
dtype: int64

In [4]:
def sum(x,y,z):
    return x+y+z
df=  pd.DataFrame({'A':[1,2],'B':[10,20]})
data=df.apply(sum,args=(1,2))
print(data)

   A   B
0  4  13
1  5  23

In [5]:
df = pd.DataFrame({'Name': ['abu','thalib'],'Role':['ceo','cto']})
data = df.applymap(str.upper)
print(df)
print(data)

     Name Role
0     abu  ceo
1  thalib  cto
     Name Role
0     ABU  CEO
1  THALIB  CTO

In [6]:
s= pd.Series([1,2,3,4,5])

s_sq=s.apply(lambda x:x**2)
s_sq

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [7]:
#Apply a Function to Each Column or Row of a DataFrame:
df = pd.DataFrame({'A':[1,2,3],"B":[4,5,6]})
col_sum= df.apply(lambda x: x.sum(),axis=0)
row_sum = df.apply(lambda x: x.sum(),axis=1)

print(col_sum)
print(row_sum)

A     6
B    15
dtype: int64
0    5
1    7
2    9
dtype: int64