In [1]:
import pandas as pd
df = pd.read_csv("Car.csv")

In [2]:
df

     id        Carname       color  age  speed
0     1          Sable      Fuscia    4     58
1     2          Rodeo         Red    4    101
2     3      Cabriolet        Mauv    2    110
3     4          S2000       Khaki   10     80
4     5  Yukon XL 1500  Aquamarine    3    110
..  ...            ...         ...  ...    ...
95   96           3500      Purple    5    130
96   97        Elantra     Crimson    6    113
97   98   Ram Van 1500       Khaki    6     71
98   99         Rapide      Indigo    8    126
99  100        Contour        Blue    8    169

[100 rows x 5 columns]

In [3]:
df.describe()

               id         age       speed
count  100.000000  100.000000  100.000000
mean    50.500000    4.930000  110.680000
std     29.011492    2.507584   40.263998
min      1.000000    1.000000   41.000000
25%     25.750000    3.000000   79.000000
50%     50.500000    5.000000  108.500000
75%     75.250000    7.000000  146.250000
max    100.000000   10.000000  180.000000

In [8]:
df.dtypes

id          int64
Carname    object
color      object
age         int64
speed       int64
dtype: object

In [9]:
df.head()

   id        Carname       color  age  speed
0   1          Sable      Fuscia    4     58
1   2          Rodeo         Red    4    101
2   3      Cabriolet        Mauv    2    110
3   4          S2000       Khaki   10     80
4   5  Yukon XL 1500  Aquamarine    3    110

In [12]:
import matplotlib.pyplot as plt
df.scaterplot("age","speed")

AttributeError: 'DataFrame' object has no attribute 'scaterplot'

In [13]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7,8,9])
arr.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
arr1=np.array([1,2,3,4,5,6,7,8,9])
arr1.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
arr3=arr*arr1
arr3.reshape(3,3)

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])